<h2>Search in TMDb</h2>

<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %> alert-dismissible fade show" role="alert">
    <%= value %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>

<div class="search-container">
  <%= form_tag search_tmdb_path, method: :get, id: 'tmdb_form' do %>
    <label for="movie_title_field">Movie Name</label>
    <%= text_field_tag 'title', params[:title] || params[:search_terms],
          class: 'form-control',
          id: 'movie_title_field',
          placeholder: 'Manhunter' %>

    <label for="movie_year_field">Release Year</label>
    <%= text_field_tag 'release_year', params[:release_year],
          class: 'form-control',
          id: 'movie_year_field',
          placeholder: '1986' %>

    <div class="form-check">
      <%= radio_button_tag 'language', 'en', params[:language] == 'en', class: 'form-check-input' %>
      <label class="form-check-label" for="language_en">English Only</label>
    </div>

    <div class="form-check">
      <%= radio_button_tag 'language', 'all', params[:language] != 'en', class: 'form-check-input' %>
      <label class="form-check-label" for="language_all">All Languages</label>
    </div>

    <%= submit_tag 'Search', id: 'tmdb_submit', class: 'btn btn-warning col-2' %>
  <% end %>
</div>

<div class="row mt-3 mb-4">
  <%= link_to 'Back to movie list', movies_path, class: 'btn btn-primary col-2' %>
</div>

<% if @movies.present? %>
  <h3>Search Results</h3>
  <table class="table table-striped" id="search_movies">
    <thead>
      <tr>
        <th>Movie Title</th>
        <th>Rating</th>
        <th>Release Date</th>
        <th>Synopsis</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @movies.each do |movie| %>
        <tr>
          <td><%= movie.title %></td>
          <td><%= movie.rating %></td>
          <td><%= movie.release_date %></td>
          <td><%= movie.description %></td>
          <td>
            <%= form_tag add_movie_path, method: :post do %>
              <%= hidden_field_tag :title, movie.title %>
              <%= hidden_field_tag :rating, movie.rating %>
              <%= hidden_field_tag :description, movie.description %>
              <%= hidden_field_tag :release_date, movie.release_date %>
              <%= submit_tag 'Add movie', class: 'btn btn-link p-0' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>